/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.spago/
/deprecated/
/editor/dist/app.js
/samples/dist/app.js
/halogen-editor/dist/app.js
/halogen-editor/dist/min.js
/polyphonic-player/dist/app.js
/PSoM2/
/.psc*
/.purs*
/.psa*
